/* Calculator default attributes */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-table {
    user-select: none;
    position: relative;
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid rgb(148, 148, 148);
}

.calculator-table td {
    width: 100px;
    height: 50px;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
    font-family: "Verdana";
    text-align: center;
    transition: all;
    transition-duration: 500ms;
}

.calculator-table td.number, #enter, #ans {
    background-color: rgb(202, 238, 250);
}

.calculator-table td.variable, #variable-assignment {
    background-color: rgb(146, 202, 221);
}

#display {
    text-align: left;
}

.enable-hover td:hover {
    background-color:lightcoral;
    border-radius: 50%;
}

.enable-hover #display:hover {
    background-color: rgb(200, 239, 252);
    border-radius: 10px;
    transform: scale(1.10);
}

.enable-hover #enter:hover, .enable-hover #ans:hover {
    background-color: lightcoral;
    border-radius: 10px;
    transform: scale(1.10);
}

/* Complimentary user dependent Calculator attributes */

.options-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 80%;
    top: 20%;
}

.checkbox-placeholder {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    background-color: lightblue;
    font-family: "Verdana";
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

label {
    position: relative;
    padding-left: 40px; /* Space for the custom checkbox */
    cursor: pointer;
}

label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Adjust the size of the custom checkbox */
    height: 20px;
    border: 2px solid #333; /* Border color of the custom checkbox */
    background-color: #fff; /* Background color of the custom checkbox */
}

input[type="checkbox"]:checked + label:before {
    background-color: rgb(118, 181, 202); /* Change the background color when the checkbox is checked */
    border-color: rgb(79, 154, 179); /* Change the border color when the checkbox is checked */
    content: "\2714"; /* Check symbol */
            color: #fff; /* Color of the check symbol */
            font-size: 16px; /* Adjust the font size of the check symbol */
            text-align: center;
            line-height: 20px; /* Keep the line height consistent */
}