.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-table {
    position: relative;
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid black;
}

.calculator-table td {
    width: 100px;
    height: 50px;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
    font-family: "Verdana";
    text-align: center;
}

#display {
    text-align: left;
}

.calculator-table td:hover {
    background-color:lightcoral;
}